.main {
  width: 100vw;
  height: 100vh;
  background: #ebf3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50vw;
  height: 60vh;
  background: #eee;
  padding: 80px 40px;
  box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.06),
    -8px -8px 40px rgba(0, 0, 0, 0.06);
  /* display: flex;
  justify-content: center; */
}
